<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>  
</div>

<app-header></app-header>

<!-- 
  Para usar a sintaxe de property bind é necessário usar o colchete senão 
  ele vai entender como string true e não um literal booleano : 
  Ex: isJedi="false" neste caso isJedi está recebendo um literal String 
-->

<!-- Modelo feito direto com propriedades do componente -->
<!-- 
  <app-student></app-student>
  <app-student name="Han Solo" [isJedi]="false"></app-student>
  <app-student name="Leia" [isJedi]="false"></app-student> 
-->

<!-- Modelo feito com um objeto -->
<!-- 
  <app-student [student]="luke"></app-student>
  <app-student [student]="han"></app-student>
  <app-student [student]="leia"></app-student> 
-->

<!-- Modelo de diretiva ngFor -->
<!-- 
  Neste caso o ngFor vai iterar no array de studantes e a cada item ele 
  vai criar uma váriavel temporária para aquele elemento. Então deve se passar
  o elemento por refêrencia.
-->
<app-student *ngFor="let student of students" [student]="student"></app-student> 


<!-- Podemos também declarar uma variável para saber o indice do array de uma lista, o primeiro começa com o valor 0 -->
<!-- 
  <ul>
    <li *ngFor="let student of students; let i=index">{{ i+1}} - {{ student.name }}</li>
  </ul> 
-->

<app-student></app-student>

<router-outlet></router-outlet>
