<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>

<router-outlet></router-outlet>

<!--
  Para usar a sintaxe de property bind é necessário usar o colchete senão
  ele vai entender como string true e não um literal booleano :
  Ex: isJedi="false" neste caso isJedi está recebendo um literal String

  Sempre que quiser passar um valor que não seja string, vc precisa passar
  a sintaxa property binding
-->
<h3>Modelo com propriedades do componente</h3>
<app-student name="Luke" [isJedi]="true"></app-student>
<app-student name="Han Solo" [isJedi]="false"></app-student>
<app-student name="Leia" [isJedi]="false"></app-student>

<hr />

<h3>Modelo com Objetos</h3>
<app-student [student]="lukeObj"></app-student>
<app-student [student]="hanObj"></app-student>
<app-student [student]="leiaObj"></app-student>

<hr />

<!--
  Neste caso o ngFor vai iterar no array de studantes e a cada item ele
  vai criar uma váriavel temporária para aquele elemento. Então deve se passar
  o elemento por refêrencia.
-->
<h3>Modelo de diretiva ngFor - students - com hidden</h3>
<app-student
  *ngFor="let student of studentsList"
  [studentForHidden]="student"
></app-student>

<hr />

<h3>Modelo de diretiva ngFor - students - COM *ngIf</h3>
<app-student
  *ngFor="let student of studentsList"
  [studentForIf]="student"
></app-student>

<hr />

<h3>Modelo de diretiva ngFor - Se não existir um studant</h3>
<p *ngIf="!student">
  Sem dados para exibir
</p>

<hr />

<h3>
  Modelo de diretiva ngFor - Com Index <br />
  <small>
    Podemos também declarar uma variável para saber o indice do array de uma
    lista, o primeiro começa com o valor 0
  </small>
</h3>

<ul>
  <li *ngFor="let student of studentsList; let i = index">
    {{ i + 1 }} - {{ student.name }}
  </li>
</ul>

<hr />

<h3>Modelo de diretiva ngFor - Com Eventos e variável de referência</h3>
<app-student
  *ngFor="let student of studentsList"
  [studentNewWithEvent]="student"
></app-student>
